<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="index/layout"
>
<head>
    <meta charset="UTF-8">
    <title>技术共享</title>
</head>
<body>
<div layout:fragment="content" style="letter-spacing: 5px;line-height: 33px;padding: 10px;position:relative; overflow-y :auto;height: 1850px;">
    <h1 align="center" th:text="${wz16.tiltle}" style="color: black;font-size: 20px;font-weight: 900"></h1>
    <div id="arc" th:utext="${wz16.conter}"></div>
</div>
</body>
</html>