<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index/layout">
<head>
    <meta charset="UTF-8">
    <title>心路历程</title>
</head>
<body>
<div layout:fragment="content" style="letter-spacing: 5px;line-height: 33px;padding: 10px">
        <h1 align="center" style="color: black;font-size: 20px;font-weight: 900">学习JAVA的心路历程</h1>
        <span style="margin-left: 30px"></span>    我是从今年2月初开始学习java编程的，之前学习的是C语言，我是很喜欢C语言的，因为容易上手，开发效率高，网上的订单也多。去年8月份学习的C语言，11月份开始用C语言赚钱，赚的不多，第一个月就赚了2000多，后来最高一个月赚过9000。不过收入不稳定。但是也比在工厂上班强多了。我17岁初中毕业就出来打工了，但是不甘心于此所以就学习了编程。<br><span style="margin-left: 30px"></span>今年19岁，至于为什么我要学java，很大的原因是因为受我同学的影响吧，他年龄跟相差不多。他家是开网吧的，初一就学习java编程了，那时候我没有电脑，感觉电脑里面的东西都很深奥，也没有刻意去了解。就只知道有一个c语言。
        初中毕业后，他也没有上高中。他认为读书没用，大学出来还不是一样打工，不如学点技术。
        我不知道当时他的编程技术怎么样，毕业后他想去桂林继续学习计算机编程，问我要不要一起去学技术。
        看到学习电脑要交高昂的学费，我学习成绩不好，数学考过5分，英语最低一次是17分，但分数都是蒙的。全靠ABCD选择题的运气。要不然英语我是一个不懂。
        我担心自己学不会，浪费家里的钱，所以就没有跟着去，想想还是出去打工赚点钱做点小生意吧。
        以前每次过年回家同学聚会都互相问工资多少，看到昔日的同学都比我高出不少，无论是学电脑的还是学修车的工资都比我高，当然还有继续读书的没法跟我们比工资。
        曾经我也算是个有点梦想的人，没有想到毕业后出来居然混得这么惨。我是该抱怨社会的残酷呢？还是问问自己的内心努力了没有？付出比别人多的努力了没有？
        从那时候起，第二年我开始努力了。<br><span style="margin-left: 30px"></span>过年后回到厂里，我开始学习每天写日记，看书，看成功人士的演讲视频。我想我一定要改变自己，就算是不成功也要改变现在的自己，就让现在先成长吧。俞敏洪的演讲让我受益匪浅，他时常鼓励大学生多读书。他说他大学4年读了800本书，这些经历对后来创办新东方很有帮助。所以我也决定先多读书开阔眼界然后再创业，到了5月份我辞掉了工作。开始摆地摊（卖水果），从地摊开始我的创业人生。做了两个月，但是都没有赚到什么钱，到了7月份我买了台电脑。隔了一个月才拉网线，8月份开始，我想能不能网上开淘宝店试试看。
        但是看到很多有关淘宝店赚不到钱的消息，很多人都在宣传微商，说微商才是网赚发展的趋势。有不少微商联系我，她们都是卖面膜的，都想找我做代理。只要花几百块钱就能拿到她们的货，卖出一盒面膜可以赚200多，真他妈暴利。可是我想面膜有那么好卖吗？真有那么好卖为什么还找我做代理。我百度搜了下有关微商方面的网页。跳出不少负面消息，还有曝光微商变相传销的新闻。我就没有再想做微商了，能赚钱的毕竟只是少数，还不如摆地摊实在。
        <br><span style="margin-left: 30px"></span>那一年我时常看书，附近的图书馆经常去，回来的时候也会上一些和学习有关的论坛看看。偶尔看看新闻，那段时间经常看到有关编程的新闻。还说网文说：奥巴马都在学编程，你业余时间在干什么？
        编程在我的印象当中，是非常难的事情。能学会编程的人都不是一般人。我有一阿姨她以前学过编程，她告诉过我学编程很复杂，所以就一直对编程有着一种高深莫测的印象。
        后来看到了一条有关天才黑客的旧新闻，17岁天才少年自学编程涮15亿。年龄比我小一岁，没想到这么牛逼。我就想他是怎么自学编程的，百度搜索了“自学编程”后。才发现通过自学学会编程的大牛有不少，还有13、14岁的黑客他们是怎么做到的。通过百度搜索我看到学编程必先学c语言入门。那时看郝斌的c语言视频教程，也加了几个c语言相关的群。在群里面我算是新人，看郝斌视频不太懂我就在群里面问。怎么才能学会编程？他们都告诉我，看书看视频，多敲代码，多思考。我说我在看郝斌的视频，到了进制转换和变量就不懂了。感觉好难学。群中就有人这样说我：你就算是头猪，每天认真敲代码敲上12小时，
        坚持半年在笨你也能入门了。我当时没多想，就想快点入门。后来看了《编程的魔力》一书，群文件下载的，我开始理解了变量。但还是感觉c语言不好学。我又在群里抱怨说英语不好，代码不好记，要是有中文的编程就好了！这时候有人告诉我易语言是中文的。我才知道原来世界上还有易语言这门中文编程语言。还有群友推荐我看觅风的视频教程。就这样我踏上了易语言的学习之路。<br><span style="margin-left: 30px"></span>中文的代码写几遍就记住了，省了很时间，那顿时间地摊也不摆了，就天天坐在电脑前学习钻研。后来看到不少易友靠学易改变自己的经历我越发想要学会这个改变自己。
        努力了4个多月吧，基本那四个月我花了1000多小时在钻研技术，后来努力真的让我改变了不少。
        我学会了这个后，与同学聊天也告诉他们我学成了某种技术。学java的同学告诉我易语言不是长久之计，想要收入稳定还是得学主流语言。他在深圳某公司做java开发月薪是20k，学了5年了。他建议我也学点java。我觉得他说的有些道理，于是就从今年的2月份开始学习java编程了，每天规定学10小时，剩下的时间就玩玩易语言，接接单子什么的。<br><span style="margin-left: 30px"></span>到了现在，在同学的介绍下去了他那家公司上班，简历包装1年半的开发经验，试用期工资是5k多，转正后8k。已经上班一个多星期了。感觉一去上班就没有那么自由了。丝毫没有自己接单时的那种轻松自在，不过为了前途发展，
        大爷也只好先忍着了。<br><span style="margin-left: 30px"></span>以上就是我学习编程的经历，
        经历了这么多事，我感觉学编程高不高薪跟技术没多大关系。跟自己的营销能力有相当大的关系。接下来的日子，我除了继续学习编程以外，主要做的就是学习营销了。学会营销自己以后也可以找一帮码农来帮我干活，做个时间充裕的脑力劳动者。
        不知不觉已经写了这么多，不知道有多少网友能完整的看下去。我文笔不好，读书少的原因。但能写到这么多字已经让我深感意外了。这全都受益于平时的写日记和看书积累。以前老师让我写篇400字的作文还要东抄一段鲁迅的，西抄一段李白的。好了，就写到这里吧。<br><span style="margin-left: 30px"></span>希望学编程的新人无论是菜鸟还是小白，在学习过程中，少一点抱怨，多敲代码，多思考问题。目标不能总盯着高薪看，以钱为目标的会让你走的很辛苦，把目标放在成为行业顶尖上吧。只要你是精英，就算把你的钱全部拿掉又能怎样？不出几个月，凭你行业精英的能力，很快就把失去的赚回来了。最后，分享一下我一直都坚信着的座右铭：成功的路上并不拥挤，
        因为坚持的人不多。
</div>
</body>
</html>